<template>
  <q-page class="row">
    <q-card class="full-width">
      <q-tab-panels class="full-width" v-model="tab" animated>
        <q-tab-panel class="full-width" name="LTLG">
          <ltlg></ltlg>
        </q-tab-panel>

        <q-tab-panel name="LV">
          <lvlist></lvlist>
        </q-tab-panel>

        <q-tab-panel name="RST">
          <rstllist></rstllist>
        </q-tab-panel>
        <q-tab-panel name="OV">
          <ovlist></ovlist>
        </q-tab-panel>
      </q-tab-panels>

      <q-separator />
      <q-footer reveal elevated bordered>
        <q-tabs v-model="tab" align="justify" narrow-indicator>
          <q-route-tab :to="{ path: 'LT' }" replace name="LTLG" label="LTG" />
          <q-route-tab :to="{ path: 'LV' }" replace name="LV" label="LV" />
          <q-route-tab :to="{ path: 'RST' }" replace name="RST" label="RST" />
          <q-route-tab :to="{ path: 'OV' }" replace name="OV" label="OV" />
        </q-tabs>
      </q-footer>
    </q-card>
  </q-page>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import rstllist from 'components/rstllist.vue'
import ovlist from 'components/ovlist.vue'
import lvlist from 'components/lvlist.vue'
import ltlg from 'components/ltlg.vue'

@Component({
  components: { ovlist, rstllist, lvlist, ltlg }
})
export default class PageIndex extends Vue {
  tab = 'OV';
}
</script>
