<template>
  <div>
    <q-dialog
      :value="input"
      @input="LogEvent($event)"
      persistent
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="text-white" v-if="item">
        <q-bar class="bg-primary">
          THW-Adressbuch
          <q-space />
          <q-btn flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card bordered square class="text-white">
          <q-item>
            <q-item-section avatar>
              <q-avatar>
                <img v-if="item.type == 'OV'" src="../assets/thw/OV.svg" />
                <img v-if="item.type == 'LV'" src="../assets/thw/LV.svg" />
                <img v-if="item.type == 'RST'" src="../assets/thw/Rst.svg" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ item.name }} || {{ item.code }}</q-item-label>
              <q-item-label caption></q-item-label>
            </q-item-section>
          </q-item>

          <q-separator />

          <q-card-section horizontal>
            <q-card-section>Adresse</q-card-section>

            <q-separator vertical />

            <q-card-section style="width:100%">
              <div class="row">
                <div class="col-9">
                  <div class="padding 0 0 0 0;margin 0 0 0 0;">{{item.street}}</div>
                  <div class="padding 0 0 0 0;margin 0 0 0 0;">{{item.zip}} {{item.city}}</div>
                  <div class="text-left" v-if="item">
                    <q-btn
                      color="secondary"
                      @click="item && item.coordinates ? OpenExternally(`https://maps.google.com/?q=${item.coordinates[0]},${item.coordinates[1]}`):null"
                      label="In Karte öffnen"
                      flat
                      padding="0"
                    />
                  </div>
                </div>
                <div class="col-3">
                  <q-btn
                    v-if="CheckShareSupport()"
                    color="secondary"
                    flat
                    icon="share"
                    @click="ShareData()"
                  />
                </div>
              </div>
            </q-card-section>
          </q-card-section>
        </q-card>

        <q-tabs
          v-model="contacttabs"
          active-color="secondary"
          indicator-color="secondary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="contact" label="Kontakt" />
          <q-tab name="units" v-if="item.type == 'OV'" label="Einheiten" />
          <q-tab name="leader" label="Führung" />
          <q-tab name="childs" v-if="item.type == 'RST' || item.type == 'LV'" :label="GetName()" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="contacttabs" animated swipeable>
          <q-tab-panel name="contact" v-if="item">
            <q-list dark bordered separator class="full-width">
              <template v-for="parent in item.parents || []">
                <q-item clickable v-ripple :key="parent">
                  <q-item-section>
                    <q-item-label overline>Übergeordnete Dienststelle</q-item-label>
                    <q-item-label>{{parent}}</q-item-label>
                  </q-item-section>
                </q-item>
              </template>
              <q-item clickable v-ripple @click="item ? OpenExternally(`tel:${item.phone}`):null">
                <q-item-section>
                  <q-item-label overline>Telefon</q-item-label>
                  <q-item-label>{{item.phone}}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item clickable v-ripple @click="item ? OpenExternally(item.email) : null">
                <q-item-section>
                  <q-item-label overline>E-Mail</q-item-label>
                  <q-item-label>{{item.email.replace('mailto:','')}}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item clickable v-ripple>
                <q-item-section>
                  <q-item-label overline>Fax</q-item-label>
                  <q-item-label>{{item.fax}}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-tab-panel>

          <q-tab-panel name="units">
            <q-list bordered separator class="full-width" v-if="item.units">
              <template v-for="subeinheit in item.units">
                <q-item clickable :key="subeinheit.name">
                  <q-item-section>
                    <q-expansion-item
                      default-opened
                      dense
                      expand-separator
                      :label="subeinheit.name"
                    >
                      <template v-if="subeinheit.teileinheit">
                        <q-list
                          bordered
                          v-for="teileinheit in subeinheit.teileinheit"
                          :key="teileinheit ? teileinheit.name : ''"
                        >
                          <q-item clickable v-if="teileinheit">
                            <q-item-section>
                              <q-item-label>{{teileinheit.name}}</q-item-label>
                            </q-item-section>
                            <q-item-section v-if="teileinheit.extra">
                              <q-item-label>{{teileinheit.extra}}</q-item-label>
                            </q-item-section>
                          </q-item>
                        </q-list>
                      </template>
                    </q-expansion-item>
                  </q-item-section>
                </q-item>
              </template>
            </q-list>
          </q-tab-panel>

          <q-tab-panel name="leader">
            <q-list
              dark
              bordered
              separator
              class="full-width"
              v-for="leader in item.leader || []"
              :key="leader.title"
            >
              <q-item clickable v-ripple>
                <q-item-section>
                  <q-item-label overline>{{leader.title}}</q-item-label>
                  <q-item-label>{{leader.name}}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-tab-panel>
          <q-tab-panel name="childs">
            <template v-if="item.type === 'RST'">
              <component :parent="item.name" :is="GetChildComponent()"></component>
            </template>
            <template v-if="item.type === 'LV'">
              <component :parent="item.name" :is="GetChildComponent()"></component>
            </template>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { ExtendedDienststelle } from './models'
import rstlist from './rstllist.vue'
import ovlist from './ovlist.vue'
import { openURL } from 'quasar'

@Component({
  components: {
    // eslint-disable-next-line quote-props
    rstlist1: rstlist,
    // eslint-disable-next-line quote-props
    ovlist1: ovlist
  }
})
export default class contact extends Vue {
  @Prop() item!: ExtendedDienststelle | null;
  @Prop() input!: boolean;

  contacttabs = 'contact';

  LogEvent (event: boolean) {
    this.$emit('input', event)
    console.log(event)
  }

  OpenExternally (url: string) {
    openURL(url)
  }

  CheckShareSupport () {
    return !!navigator.share
  }

  ShareData (): void {
    if (this.item) {
      // eslint-disable-next-line @typescript-eslint/no-floating-promises
      navigator.share({
        title: `${this.item.name}`,
        text: `- ${this.item.name} -
Straße:  ${this.item.street}
Ort:  ${this.item.zip || ''} ${this.item.city || ''} ${this.item.region || ''}
Telefon:  ${this.item.phone || ''}
E-Mail:  ${this.item.email.replace('mailto:', '') || ''}


${window.location.href}`
      })
    }
  }

  GetName () {
    switch (this.item?.type) {
      case 'RST':
        return 'OV'

      case 'LV':
        return 'RST'

      default:
        break
    }
  }

  GetChildComponent () {
    switch (this.item?.type) {
      case 'RST':
        return 'ovlist1'

      case 'LV':
        return 'rstlist1'

      default:
        break
    }
  }
}
</script>

<style scoped>
</style>
