<template>
  <div>
    <q-card class="text-white" v-if="item">
      <q-card bordered square class="text-white">
        <q-item>
          <q-item-section avatar>
            <q-avatar>
              <img src="../assets/thw/Leitung.svg" />
            </q-avatar>
          </q-item-section>

          <q-item-section>
            <q-item-label>{{ item.name }}</q-item-label>
            <q-item-label caption></q-item-label>
          </q-item-section>
        </q-item>

        <q-separator />

        <q-card-section horizontal>
          <q-card-section>Adresse</q-card-section>

          <q-separator vertical />

          <q-card-section>
            <div class="padding 0 0 0 0;margin 0 0 0 0;">{{ item.street }}</div>
            <div class="padding 0 0 0 0;margin 0 0 0 0;">
              {{ item.zip }} {{ item.city }}
            </div>
            <div class="text-left">
              <q-btn
                color="secondary"
                label="In Karte öffnen"
                flat
                padding="0"
              />
            </div>
          </q-card-section>
        </q-card-section>
      </q-card>

      <q-tabs
        v-model="contacttabs"
        active-color="secondary"
        indicator-color="secondary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="contact" label="Kontakt" />
        <q-tab name="leader" label="Führung" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="contacttabs" animated swipeable>
        <q-tab-panel name="contact">
          <q-list dark bordered separator class="full-width">
            <q-item clickable v-ripple>
              <q-item-section>
                <q-item-label overline>Telefon</q-item-label>
                <q-item-label>{{ item.phone }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
              <q-item-section>
                <q-item-label overline>E-Mail</q-item-label>
                <q-item-label>{{
                  item.email.replace('mailto:', '')
                }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
              <q-item-section>
                <q-item-label overline>Fax</q-item-label>
                <q-item-label>{{ item.fax }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-tab-panel>

        <q-tab-panel name="leader">
          <q-list
            dark
            bordered
            separator
            class="full-width"
            v-for="leader in item.leader || []"
            :key="leader.title"
          >
            <q-item clickable v-ripple>
              <q-item-section>
                <q-item-label overline>{{ leader.title }}</q-item-label>
                <q-item-label>{{ leader.name }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script lang="ts">
import thwdeService from 'src/service/thwde.service'
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class ovlist extends Vue {
  contacttabs = 'contact'
  item = thwdeService.GetLT()
}
</script>

<style scoped></style>
