<template>
  <div>
    <q-virtual-scroll
      :items="lvlist"
      style="max-height: calc(100vh - 132px)"
      :virtual-scroll-item-size="57"
      separator
    >
      <template v-slot="{ item, index }">
        <q-item :key="index" clickable v-ripple @click="Select(item)">
          <q-item-section avatar class="icon">
            <img src="../assets/thw/LV.svg" style="width: 40px" alt="example" />
          </q-item-section>
          <q-item-section>
            {{
            item.name.replace("Ortsverband", "")
            }}
          </q-item-section>
          <q-item-section v-if="item.distance != 0" side>{{item.distance}} km</q-item-section>
        </q-item>
      </template>
    </q-virtual-scroll>
    <contact :input="open" @input="open = $event" :item="selectedlv"></contact>
  </div>
</template>

<script lang="ts">
import thwdeService from 'src/service/thwde.service'
import { Vue, Component, Watch } from 'vue-property-decorator'
import { ExtendedDienststelle } from './models'
import contact from './contact.vue'

@Component({
  components: {
    contact
  }
})
export default class lvlist extends Vue {
  lvlist: ExtendedDienststelle[] = [];
  selectedlv: ExtendedDienststelle | null = null;
  open = false;
  async Select (item: ExtendedDienststelle) {
    await this.$router.push({
      path: this.$route.path,
      query: { oeid: item.oeId.toString() }
    })
  }

  created () {
    this.UpdateList()
    this.RouteChangeCheck()
  }

  @Watch('$route')
  RouteChangeCheck () {
    if (typeof this.$route.query.oeid === 'string') {
      const inoid = parseInt(this.$route.query.oeid)
      this.selectedlv = this.lvlist.find((x) => x.oeId === inoid) || null
      if (this.selectedlv) {
        this.open = true
      }
    } else {
      this.selectedlv = null
      this.open = false
    }
  }

  @Watch('open')
  async resetquery (newVal: boolean) {
    if (!newVal && this.$route.query.oeid) {
      await this.$router.push({ path: this.$route.path, query: {} })
    }
  }

  @Watch('$geolocation.coords', { deep: true })
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  UpdateList (done?: any) {
    console.log('Trigger Update of OVLIST')
    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access
    let latlong
    if (this.$geolocation?.coords) {
      latlong = [
        this.$geolocation.coords.latitude,
        this.$geolocation.coords.longitude
      ]
    }
    this.lvlist = thwdeService.GetAllLV(latlong).sort((a, b) => {
      if (a.distance < b.distance) {
        return -1
      }
      if (a.distance > b.distance) {
        return 1
      }
      return 0
    })
    if (typeof done === 'function') {
      setTimeout(() => {
        // eslint-disable-next-line @typescript-eslint/no-unsafe-call
        done()
      }, 500)
    }
  }
}
</script>

<style scoped>
</style>
