<template>
  <div>
    <q-page-sticky
      :position="!ltr ? 'bottom-left':'bottom-right'"
      style="z-index:99"
      :offset="[18, 80]"
    >
      <q-btn
        v-if="!parent"
        fab
        icon="search"
        @click="searchopen = true"
        dense
        text-color="black"
        padding="sm"
        color="secondary"
      />
    </q-page-sticky>
    <q-virtual-scroll
      :items="ovlist"
      :style="`max-height: calc(100vh - ${GetHeight()})`"
      :virtual-scroll-item-size="57"
      separator
    >
      <template v-slot="{ item, index }">
        <q-item :key="index" clickable v-ripple @click="SelectOV(item)">
          <q-item-section avatar class="icon">
            <img src="../assets/thw/OV.svg" style="width: 40px" alt="example" />
          </q-item-section>
          <q-item-section>
            {{
            item.name.replace("Ortsverband", "")
            }} // {{item.code}}
          </q-item-section>
          <q-item-section v-if="item.distance != 0" side>{{item.distance}} km</q-item-section>
        </q-item>
      </template>
    </q-virtual-scroll>
    <contact :input="open" @input="open = $event" :item="selectedov"></contact>
    <ovsearchdialog :input="searchopen" @input="searchopen = $event" @search="StartSearch($event)"></ovsearchdialog>
  </div>
</template>

<script lang="ts">
import thwdeService from 'src/service/thwde.service'
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { ExtendedDienststelle } from './models'
import ovsearchdialog from './ovsearchdialog.vue'

@Component({
  components: {
    ovsearchdialog
  }
})
export default class ovlist extends Vue {
  @Prop() parent!: string;
  ovlist: ExtendedDienststelle[] = [];
  search = { name: '', einheit: '', teileinheit: '', lv: '', rst: '' };

  ltr = false;
  selectedov: ExtendedDienststelle | null = null;
  open = false;
  searchopen = false;
  created () {
    // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
    this.ltr = JSON.parse(window.localStorage.getItem('ltr') || 'false')
    this.UpdateList()
    this.RouteChangeCheck()
  }

  StartSearch (search: {
    name: string;
    einheit: string;
    teileinheit: string;
    lv: string;
    rst: string;
  }) {
    this.search = search
    this.UpdateList()
  }

  @Watch('$geolocation.coords', { deep: true })
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  UpdateList (done?: any) {
    console.log('Trigger Update of OVLIST')

    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access
    let latlong
    if (this.$geolocation?.coords) {
      latlong = [
        this.$geolocation.coords.latitude,
        this.$geolocation.coords.longitude
      ]
    }

    this.ovlist = thwdeService
      .GetAllOV(
        latlong,
        this.search.name,
        this.search.einheit,
        this.search.teileinheit,
        this.parent
      )
      .sort((a, b) => {
        if (a.distance < b.distance) {
          return -1
        }
        if (a.distance > b.distance) {
          return 1
        }
        return 0
      })

    if (typeof done === 'function') {
      setTimeout(() => {
        // eslint-disable-next-line @typescript-eslint/no-unsafe-call
        done()
      }, 500)
    }
  }

  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  @Watch('$route')
  RouteChangeCheck () {
    if (typeof this.$route.query.oeid === 'string') {
      const inoid = parseInt(this.$route.query.oeid)
      this.selectedov = this.ovlist.find((x) => x.oeId === inoid) || null
      if (this.selectedov) {
        this.open = true
      }
    } else {
      this.selectedov = null
      this.open = false
    }
  }

  @Watch('open')
  async resetquery (newVal: boolean) {
    if (!newVal && this.$route.query.oeid) {
      await this.$router.push({ path: this.$route.path, query: {} })
    }
  }

  async SelectOV (item: ExtendedDienststelle) {
    console.log(this.$geolocation.coords)
    // this.selectedov = item
    // this.open = true
    await this.$router.push({
      path: this.$route.path,
      query: { oeid: item.oeId.toString() }
    })
    console.log('Selcted OV', this.selectedov)
  }

  GetHeight () {
    return this.parent ? '290px' : '132px'
  }
}
</script>

<style scoped>
</style>
