<template>
  <div>
    <q-dialog
      :value="input"
      @input="LogEvent($event)"
      persistent
      :maximized="false"
      transition-show="jump-down"
      transition-hide="jump-up"
    >
      <q-card class="text-white full-width full-height">
        <q-bar class="bg-primary">
          Detailsuche
          <q-space />
          <q-btn flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <div class="q-gutter-md">
          <q-input color="secondary" label="OV" v-model="searchov.name" />
          <q-select
            color="secondary"
            v-model="searchov.einheit"
            :options="searchindex.einheit"
            label="Einheit"
          />
          <q-select
            color="secondary"
            v-model="searchov.teileinheit"
            :options="searchindex.teileinheit"
            label="Teil-Einheit"
          />
          <div class="absolute-bottom-right" style="bottom:20px;right:20px">
            <q-btn label="Reset" @click="Reset" color="secondary" flat class="q-ml-sm" />
            <q-btn label="Suchen" @click="StartSearch" color="primary" />
          </div>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import thwdeService from 'src/service/thwde.service'
import { Vue, Component, Prop } from 'vue-property-decorator'
import { FilterIndex } from './models'

@Component({})
export default class ovsearchdialog extends Vue {
  @Prop() type!: string;
  @Prop() input!: boolean;
  searchov: {
    name: string;
    einheit: string;
    teileinheit: string;
    lv: string;
    rst: string;
  } = {
    name: '',
    einheit: '',
    teileinheit: '',
    lv: '',
    rst: ''
  };

  searchindex: FilterIndex = thwdeService.GetJSONIndex();

  contacttabs = 'contact';

  LogEvent (event: boolean) {
    this.$emit('input', event)
    console.log(event)
  }

  Reset () {
    this.searchov.name = ''
    this.searchov.einheit = ''
    this.searchov.teileinheit = ''
    this.searchov.lv = ''
    this.searchov.rst = ''
  }

  StartSearch () {
    this.$emit('search', this.searchov)
    this.$emit('input', false)
  }
}
</script>

<style scoped>
</style>
