<template>
  <div>
    <q-virtual-scroll
      :items="rstlist"
      :style="`max-height: calc(100vh - ${GetHeight()})`"
      :virtual-scroll-item-size="57"
      separator
    >
      <template v-slot="{ item, index }">
        <q-item :key="index" clickable v-ripple @click="Select(item)">
          <q-item-section avatar class="icon">
            <img
              src="../assets/thw/Rst.svg"
              style="width: 40px"
              alt="example"
            />
          </q-item-section>
          <q-item-section>
            {{ item.name.replace('Ortsverband', '') }}
          </q-item-section>
          <q-item-section v-if="item.distance != 0" side
            >{{ item.distance }} km</q-item-section
          >
        </q-item>
      </template>
    </q-virtual-scroll>
    <contact :input="open" @input="open = $event" :item="selectedrst"></contact>
  </div>
</template>

<script lang="ts">
import thwdeService from 'src/service/thwde.service'
import { Vue, Component, Watch, Prop } from 'vue-property-decorator'
import { ExtendedDienststelle } from './models'

@Component({})
export default class rstlist extends Vue {
  @Prop() parent!: string
  rstlist: ExtendedDienststelle[] = []
  selectedrst: ExtendedDienststelle | null = null
  open = false
  async Select (item: ExtendedDienststelle) {
    await this.$router.push({
      path: this.$route.path,
      query: { oeid: item.oeId.toString() }
    })
  }

  created () {
    this.UpdateList()
    this.RouteChangeCheck()
  }

  @Watch('$route')
  RouteChangeCheck () {
    if (typeof this.$route.query.oeid === 'string') {
      const inoid = parseInt(this.$route.query.oeid)
      this.selectedrst = this.rstlist.find(x => x.oeId === inoid) || null
      if (this.selectedrst) {
        this.open = true
      }
    } else {
      this.selectedrst = null
      this.open = false
    }
  }

  @Watch('open')
  async resetquery (newVal: boolean) {
    if (!newVal && this.$route.query.oeid) {
      await this.$router.push({ path: this.$route.path, query: {} })
    }
  }

  @Watch('list')
  @Watch('$geolocation.coords', { deep: true })
  UpdateList () {
    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access
    let latlong
    if (this.$geolocation?.coords) {
      latlong = [
        this.$geolocation.coords.latitude,
        this.$geolocation.coords.longitude
      ]
    }
    this.rstlist = thwdeService.GetAllRst(latlong, this.parent).sort((a, b) => {
      if (a.distance < b.distance) {
        return -1
      }
      if (a.distance > b.distance) {
        return 1
      }
      return 0
    })
  }

  GetHeight () {
    return this.parent ? '290px' : '132px'
  }
}
</script>

<style scoped></style>
